<mat-toolbar color="primary">
  <span class="name"><a href="/" style="color: white; text-decoration: none;">Clinic Flow Editor</a></span>
  <span class="space"></span>
  <span flex></span>
  <span class="menu">
    <button mat-button  (click)="createSchema()" class="menuItem"><i class="fa fa-plus"></i> Create New</button>
    <button mat-button  (click)="logout()" class="menuItem"> <i class="fa fa-sign-out"></i> Sign Out <i [class.fa-spinner]="loggingOut" [class.fa-spin]="loggingOut" class="fa"></i></button>    
  </span>
</mat-toolbar>
<div class="container-f" style="margin-top: 10px;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-primary panel-table">
        <div class="panel-heading">
          <div class="row">
            <div class="col col-xs-2">
              <h4>Workflow Schemas</h4>
            </div>

            <div class="col col-xs-5 pull-right">
              <div class="input-group stylish-input-group">
                <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search" id="search-box">
                <span class="input-group-addon">
                  <button>
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body">
          
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-list">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th width="10%">Version</th>
                  <th width="10%">Date Created</th>
                  <th width="10%">Retired</th>
                  <th width="10%">Deployed</th>
                  <th width="10%">Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="schemas">
                <tr *ngFor="let schema of schemas | searchFilter: searchText | paginate: { itemsPerPage: 10, currentPage: page }">
                  <td> <b>{{ schema.schema.name }}</b></td>
                  <td> {{ schema.schema.version }}</td>
                  <td> {{ schema.schema.date_created | date: 'dd/MM/yy hh:mm' }}</td>
                  <td *ngIf="schema.schema.retired"><label class="label label-success">Yes</label></td>
                  <td *ngIf="!schema.schema.retired"><label class="label label-danger">No</label></td>
                  <td *ngIf="schema.schema.published"><label class="label label-success">Yes</label></td>
                  <td *ngIf="!schema.schema.published"><label class="label label-danger">No</label></td>
                  <td>
                    <a *ngIf="!schema.schema.published" (click)="editSchema(schema.schema.id)" style="cursor: pointer;" title="Edit Schema"><i class="material-icons">edit</i></a>
                    <a *ngIf="schema.schema.published" (click)="editSchema(schema.schema.id)" style="cursor: pointer;" title="View Schema"><i class="material-icons">visibility</i></a>
                    <a *ngIf="!schema.schema.retired" (click)="deploySchema(schema.schema.version, schema.schema.id, schema.schema.uuid)" style="cursor: pointer;" title="Deploy Schema"><i class="material-icons">publish</i></a>
                    <a *ngIf="!schema.schema.retired" (click)="retireSchema(schema.schema.id)" style="cursor: pointer;" title="Retire Schema"><i style="color: #d9534f" class="material-icons">delete_forever</i></a>
                    <!-- <a *ngIf="schema.schema.retired" (click)="unretireSchema(schema.schema.id)" style="cursor: pointer;" title="UnRetire Schema"><i class="material-icons">redo</i></a>                     -->
                    
                  </td>
                </tr>
              </tbody>
              
            </table>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
          
      </div>
    </div>
  </div>
  
</div>