<div style="background:#ebebeb; padding-top:5px;">
  
  <div style="clear:both;" id="label" class="text-center" >
      <div class="pull-right" style="display:inline-block;">
        <a data-toggle="tooltip" title="View Schema" (click)="viewSchema()"><i class="material-icons">visibility</i></a>
        <a data-toggle="tooltip" title="View Full Schema" (click)="viewFullSchema()"><i class="material-icons">code</i></a>
        <a data-toggle="tooltip" title="Copy" (click)="openSnackBar('Copied to Clipborad')" ngxClipboard [cbContent]="editor.getEditor().getValue()"><i class="material-icons">content_copy</i></a>
      </div>
  </div>

  <div style="clear:both;" id="label" class="text-center" >
    
    <div style="clear:both;">
    
      <ace-editor #editor style="height:70vh; width:100%; overflow:auto;" ></ace-editor><br/>
      
        <div class="text-center" >
          <button class="btn btn-primary" (click)="saveDraft()">Save Draft</button>
        </div>
    
    </div>
  </div>
</div>

